/result*
/.direnv/
/.devenv/
/.pre-commit-config.yaml
/.env
/.env.*
/.local/
/CLAUDE.local.md
/.claude/settings.local.json
*.qcow2
*.raw

**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
*.tfvars.json
crash.log
crash.*.log
**/__pycache__/
